body {
    background-color: #0195DD;
}
.copyright {
    font-family: "Noto Sans", sans-serif;
    color: white;
    margin-top: 45%;
    text-align: center;
}
.favicon {
    height: 32px;
    width: 32px;
    border-radius: 50%;
}
.codebtn {
    padding: 5px 10px;
    /* font-size: 16px; */
    background-color: #0172ab;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.5s ease;
}
.codebtn:hover {
    background-color: #015f8a;
}
.crbox {
    background-color: white;
    align-self: center;
    align-items: center;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    border-radius: 5px;
    text-align: center;
    justify-content: center;
    display: flex;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin-left: 20%;
    margin-right: 20%;
    outline-color: white;
}
.crbox img {
    align-items: right;
    height: 100px;
    width: 100px;
    align-self: right;
    outline-color: white;
    border-right: 50px;
    border: 50px solid white;
    cursor: pointer;
}

.crbox button {
    background-color: #0573A9;
    border-radius: 5px;
    outline-color: white;
    text-align: center;
    color: white;
    cursor: pointer;
}

footer {
    font-family: "Noto Sans", sans-serif;
    color: white;
    margin-top: 54%;
    text-align: center;
}
